{% extends 'base.html.twig' %}

{% block title %}{{ "filament.title_edit" | trans }}{% endblock %}

{% block body %}
    {% include('filament/_navbar.html.twig') %}
    <h1>{{ "filament.title_edit" | trans }}</h1>
    <div class="content">
        {{ include('filament/_form.html.twig') }}
        <div>
            {{ include('filament/_delete_form.html.twig') }}
        </div>
        <a href="{{ path('app_filament_index') }}">{{ "filament.button.back_to_list" | trans }}</a>
    </div>
{% endblock %}
