{% extends 'base.html.twig' %}

{% block title %}{{ "filament.title_index" | trans }}{% endblock %}

{% block body %}
    <h1>{{ "filament.heading_index" | trans }}</h1>

    {% if filaments is empty %}
        <h2>{{ "filament.fields.no_records" | trans }}</h2>
    {% else %}
        <table class="table">
            <thead>
            <tr>
                <th>{{ "filament.fields.id"  | trans }}</th>
                <th>{{ "filament.fields.producer" | trans }}</th>
                <th>{{ "filament.fields.name" | trans }}</th>
                <th>{{ "filament.fields.color" | trans }}</th>
                <th>{{ "filament.fields.material" | trans }}</th>
                <th>{{ "filament.fields.temperature_extruder" | trans }}</th>
                <th>{{ "filament.fields.temperature_table" | trans }}</th>
                <th>{{ "filament.fields.purchase_date" | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for filament in filaments %}
                <tr>
                    <td>{{ filament.id }}</td>
                    <td>{{ filament.producer }}</td>
                    <td>{{ filament.name }}</td>
                    <td>{{ filament.color }}</td>
                    <td>{{ filament.material }}</td>
                    <td>{{ filament.temperatureExtruder }}</td>
                    <td>{{ filament.temperatureTable }}</td>
                    <td>{{ filament.purchaseDate ? filament.purchaseDate|date('Y-m-d H:i:s') : '' }}</td>

                    <td style="border:none;">
                        &nbsp<a>
                            <button class="button">
                                <a href="{{ path('app_filament_show', {'id': filament.id}) }}">{{ "filament.button.show" | trans }}</a>
                            </button>
                            |
                            <a>
                                <button class="button">
                                    <a href="{{ path('app_filament_edit', {'id': filament.id}) }}">{{ "filament.button.edit" | trans }}</a>
                                </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <br>
    <button class="button"><a href="{{ path('app_filament_new') }}">{{ "filament.fields.create_new" | trans }}</a>
    </button>
{% endblock %}
