{% extends 'base.html.twig' %}

{% block title %}{{ "filament.title_index" | trans }}{% endblock %}

{% block body %}
    {% include('filament/_navbar.html.twig') %}
    <h1>{{ "filament.heading_index" | trans }}
        {% if search is defined %}
            {{ "filament.heading_search" | trans }}
            "{{ search }}"
        {% endif %}
    </h1>
    <div class="content">
    {% if filaments is empty %}
        <h2>{{ "filament.fields.no_records" | trans }}</h2>
    {% else %}
        <table class="table">
            <thead>
            <tr>
                <th>{{ "filament.fields.id"  | trans }}</th>
                <th>{{ "filament.fields.producer" | trans }}</th>
                <th>{{ "filament.fields.name" | trans }}</th>
                <th>{{ "filament.fields.color" | trans }}</th>
                <th>{{ "filament.fields.material" | trans }}</th>
                <th>{{ "filament.fields.temperature_extruder" | trans }}</th>
                <th>{{ "filament.fields.temperature_table" | trans }}</th>
                <th>{{ "filament.fields.purchase_date" | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for filament in filaments %}
                <tr>
                    <td>{{ filament.id }}</td>
                    <td>{{ filament.producer }}</td>
                    <td>{{ filament.name }}</td>
                    <td>{{ filament.color }}</td>
                    <td>{{ filament.material }}</td>
                    <td>{{ filament.temperatureExtruder }}</td>
                    <td>{{ filament.temperatureTable }}</td>
                    <td>{{ filament.purchaseDate ? filament.purchaseDate|date('Y-m-d') : '' }}</td>
                    <td style="border:none;">
                        <button class="button">
                            <a href="{{ path('app_filament_show', {'id': filament.id}) }}">{{ "filament.button.show" | trans }}</a>
                        </button>
                        <button class="button">
                            <a href="{{ path('app_filament_edit', {'id': filament.id}) }}">{{ "filament.button.edit" | trans }}</a>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    {% endif %}
{% endblock %}

